@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(82, 82, 82);
}

.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1rem 4rem 2rem rgba(0, 0, 0, 0.2);
}

.card {
    width: 60%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1.5rem;
    padding: 3rem;
    gap: 2rem;
    box-shadow: 0 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card_quote {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    background-color: whitesmoke;

}
.card h1{
    align-self: flex-end;
    font-size: 1.8rem ;
    background-color: whitesmoke;
}

i {
    background-color: whitesmoke;
}

.bxs-quote-alt-left{
    font-size: 8rem;
}

.bxs-chevron-right-circle {
    font-size: 4rem;
    cursor: pointer;
    transition: 0.3s ease;
   
    
}




.fade-enter{
    opacity: 0.1;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0.1;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 400ms;
 }
